@media all and (min-width: 1010px) and (max-width: 1350px) {
  
    .filtre-li {
        margin-right: 12px; /* Permet d'avoir le titre et tous les filtres sur une seule ligne */
    }
    
    #heberg-tous {
        padding: 40px 30px;
    }

    #heberg-tous-contenu a {
        width: 46%; /* Permet d'afficher deux élements par ligne avec une marge */
    }
    
    .heberg-tous-img {
        width: 100%; /* Pour s'adapter à la largeur de l'élément ci-dessus */
        object-position: 50% 65%;
    }

    #heberg-popu {
        flex: 0.6; 
        margin-left: 30px;
        padding: 40px 30px;
    }

}

@media all and (min-width: 670px) and (max-width: 1009px) {

    header {
        margin: 0 5%;
    }
    
    nav li a {
	    width: 130px;
    }
 
    #inscrip-normal {
	    width: 100px;
    }

    #filtre h2 {
        margin-left: 0;
    }
    
    .filtre-li {
        margin-top: 14px;
    }

    #information-cercle, #heberg-popu {
        margin-left: 0;
    }
    
    #heberg {
        flex-direction: column-reverse; /* Pour faire passer la section #heberg-popu au-dessus de la section #heberg-tous */
        margin: 35px 0 0 0;   
    }

    #heberg-tous, #heberg-popu {
        padding: 40px 5%; /* La largeur correspond aux marges du <header> et de la section #activ, ainsi qu'au padding du <footer> */
        border-radius: initial;
    }

    #heberg-tous {
        background: white;
    }

    #heberg-tous-contenu a, #heberg-popu-contenu a, .activ-colonne-1, .activ-colonne-2 {
        width: 46%; 
        margin-top: 25px;
    }
    
    .heberg-tous-img, .activ-img-390, .activ-img-180, .activ-img-155, .activ-img-140, .activ-img-110 {
        width: 100%; 
    }
    
    #heberg-popu-contenu { 
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #activ {
        margin: 20px 5% 0 5%;
    }
    
    #activ-contenu {
        flex-wrap: wrap;
    }
    
    footer {
        margin-top: 50px;
        padding: 45px 5%;
    } 

}

@media all and (max-width: 669px) {
	
    header {
        margin: 0;
    }
    
    #logo-inscrip, #recherche { /* #logo-inscrip et #recherche ne contiennent pas <nav> qui prend toute la largeur du <header> */
        margin-left: 5%; 
        margin-right: 5%;
    }
    
    #haut-de-page {
        flex-direction: column;
    }

    #inscrip-normal, #rech-normal {
        display: none;
    }
    
    #logo-inscrip {
        display: flex;
        justify-content: space-between;
    }
    
    #logo {
        margin-top: 25px;
    }
    
    #inscrip-mobile {
        display: inline;
        font-weight: bold;
        margin-top: 40px;
    }

    nav ul {
        display: flex; /* Colle les deux éléments décrits ci-dessous sans le moindre espace */
    }
    
    nav li {
        width: 50%;
    }
    
    nav li a {
        height: 32px; 
        padding-top: 25px;
        width: auto;
        border-bottom: 3px solid #F2F2F2;
    }
    
    nav li a:hover {
        border-top: 0;
        border-bottom: 3px solid #0065FC;
    }

    form {
	    margin-top: 35px;
    }

    #ville {
        min-width: 0; /* Permet de réduire la zone de saisie */
    }

    #rech-mobile {
        display: block;
    }    
    
    #filtre h2 {
        margin: 5px 0 0 0;
    }

    .filtre-li {
	    margin: 14px 10px 0 0;
    }

    .filtre-li a {
        font-size: 0.9em;
        padding: 0 12px 0 56px;
    }

    #information-cercle, #heberg-popu {
        margin-left: 0;
    }
    
    #heberg {
        flex-direction: column-reverse;
        margin: 35px 0 0 0;
    }
 
    #heberg-tous h1, #titre-heberg-popu {
        margin-bottom: 10px;
    }
    
    #heberg-tous-contenu {
        flex-direction: column; /* Firefox exige cette précision */
    }

    #heberg-tous-contenu a, #heberg-popu-contenu a {
        margin-top: 12px
    }
    
    .heberg-tous-img {
        width: 100%; 
        object-position: 50% 65%;
    }
       
    #heberg-tous, #heberg-popu {
        padding: 40px 5%;
        border-radius: initial;
    }

    #heberg-tous {
        background: white;
    }
/* Les trois règles suivantes empêchent le texte de passer sous le bloc d'étoiles en "absolute" */
    .heberg-popu-caption h3 { 
        line-height: 18px;
    }
    
    .heberg-popu-caption p {
        line-height: 14px; 
    }
    
    .heberg-popu-caption div {
        bottom: 0;
    }
    
    #activ {
        margin: 20px 5% 0 5%;
    }
    
    #activ-contenu {
        flex-direction: column;
    } 
    
    .activ-colonne-1 a, .activ-colonne-2 a {
        margin-top: 25px;
    }
    
    .activ-colonne-1, .activ-colonne-2 {
        width: auto;
        margin-top: 0; /* On élimine la margin-top des colonnes pour ne laisser que la margin-top de <a> */
    }

    .activ-img-390, .activ-img-180, .activ-img-155, .activ-img-140, .activ-img-110 {
        width: 100%; 
        height: 135px;
    }

    .activ-img-110 {
        object-position: 50% 28%;
    }
    
    .activ-img-140 {
        object-position: 50% 22%;
    }
    
    .activ-img-155 {
        object-position: 50% 36%;
    }

    .activ-img-180 {
        object-position: 50% 50%;
    }

    .activ-img-390 {
        object-position: 50% 40%;
    }

    footer {
        flex-direction: column;
        margin-top: 50px;
        padding: 45px 5% 0 5%; 
    }
    
    .footer-bloc {
        width: auto;
        margin-bottom: 45px; /* Remplace le padding-bottom du <footer> */
    }

}
