@media all and (min-width: 560px) and (max-width: 999px) {

    header {
        margin: 0 5%;
    }
    
    nav li a {
	    width: 120px;
    }
 
    #inscrip-normal-li a {
	    width: 80px;
    }

    #filtre h2, #info-cercle, #heberg-popu {
        margin-left: 0;
    }
      
    #heberg {
        flex-direction: column-reverse; /* Pour faire passer la section #heberg-popu au-dessus de la section #heberg-tous */
        margin: 35px 0 0 0;   
    }

    #heberg-tous, #heberg-popu {
        padding: 40px 5%; /* La largeur correspond aux marges du <header> et de la section #activ, ainsi qu'au padding du <footer> */
        border-radius: initial;
    }

    #heberg-tous {
        background: white;
    }

    #heberg-tous-contenu a, #heberg-popu-contenu a, .activ-colonne-1, .activ-colonne-2 {
        width: 46%; /* Permet d'afficher deux éléments par ligne avec une marge */
        margin-top: 25px;
    }
    
    .heberg-tous-img {
        width: 100%; /* S'adapte à la largeur du premier des éléments ci-dessus */
    }
    
    #heberg-popu-contenu { 
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #activ {
        margin: 20px 5% 0 5%;
    }
    
    #activ-contenu {
        flex-wrap: wrap;
    }
    
    footer {
        margin-top: 50px;
        padding: 45px 5%;
    } 

}

@media all and (max-width: 559px) {
	
    header {
        margin: 0;
    }
    
    #logo-inscrip, #recherche { /* #logo-inscrip et #recherche ne contiennent pas <nav> qui prend toute la largeur du <header> */
        margin-left: 5%; 
        margin-right: 5%;
    }
    
    #header-haut {
        flex-direction: column;
    }

    #inscrip-normal-li, #rech-normal {
        display: none;
    }
    
    #logo-inscrip {
        display: flex;
        justify-content: space-between;
    }
    
    #logo {
        margin-top: 25px;
    }
    
    #inscrip-mobile-a {
        display: inline;
        font-weight: bold;
        margin-top: 40px;
    }

    nav li {
        width: 50%;
    }
    
    nav li a {
        height: 32px; 
        padding-top: 25px;
        width: auto;
        border-bottom: 3px solid #F2F2F2;
    }
    
    nav li a:hover {
        border-top: 0;
        border-bottom: 3px solid #0065FC;
    }

    form {
	    margin-top: 35px;
    }

    #ville {
        min-width: 0; /* Permet de réduire la zone de saisie */
    }

    #rech-mobile {
        display: block;
    }    
    
    #filtre h2, #info-cercle, #heberg-popu {
        margin-left: 0;
    }

    .filtre-li {
	    margin-right: 10px;
    }

    .filtre-li a {
        font-size: 0.9em;
        padding: 0 12px 0 56px;
    }

    #heberg {
        flex-direction: column-reverse;
        margin: 35px 0 0 0;
    }
 
    #heberg-tous h1, #titre-heberg-popu {
        margin-bottom: 10px;
    }
    
    #heberg-tous-contenu {
        flex-direction: column; /* Firefox exige cette précision */
    }

    #heberg-tous-contenu a, #heberg-popu-contenu a {
        margin-top: 12px;
    }
    
    .heberg-tous-img {
        width: 100%; 
        object-position: 50% 65%;
    }
       
    #heberg-tous, #heberg-popu {
        padding: 40px 5%;
        border-radius: initial;
    }

    #heberg-tous {
        background: white;
    }

    #activ {
        margin: 20px 5% 0 5%;
    }
    
    #activ-contenu {
        flex-direction: column;
    } 
    
    .activ-colonne-1 a, .activ-colonne-2 a {
        margin-top: 25px;
    }
    
    .activ-colonne-1, .activ-colonne-2 {
        width: auto;
        margin-top: 0; /* L'espacement entre les <a> est défini ci-dessus */
    }

    .activ-img-390, .activ-img-180, .activ-img-155, .activ-img-140, .activ-img-110 {
        height: 135px;
    }

    .activ-img-110 {
        object-position: 50% 28%;
    }
    
    .activ-img-140 {
        object-position: 50% 22%;
    }
    
    .activ-img-155 {
        object-position: 50% 36%;
    }

    .activ-img-180 {
        object-position: 50% 50%;
    }

    .activ-img-390 {
        object-position: 50% 40%;
    }

    footer {
        flex-direction: column;
        margin-top: 50px;
        padding: 45px 5% 0 5%; 
    }
    
    .footer-boite {
        width: auto;
        margin-bottom: 45px; /* Remplace le padding-bottom du <footer> */
    }

}
