@font-face {
    font-family: 'Raleway';
}

* {
    font-family: 'Raleway', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #0065FC;
}


body {
    margin: 0; /* Le body commence tout en haut de la page pour créer une bordure au bord de l'écran lors du survol de la liste */
}

/* Haut-de-page */

#haut-de-page {
    display: flex;
    justify-content: space-between;
}

#logo {
    margin-top: 0;
    padding-top: 50px;
}

/* Navigation */

#nav-normal {
    display: flex;
}

#nav-normal ul {
    display: flex;
    list-style-type: none;
    font-size: 16px;
    margin-top: 0;
}

#nav-normal li {
    padding-top: 50px;
    width: 160px;
    text-align: center;
    font-weight: 500;
}

#nav-normal li:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

#nav-normal div {
    font-weight: bold;
    width: 100px;
    padding-top: 50px;
    margin-right: 0;
    text-align: right;
}

#nav-petit ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: 16px;
    padding-left: 0;
    margin-top: 25px;
}

#nav-petit li {
     height: 32px;
     width: 50%;
     text-align: center;
     font-weight: 500;
}

#nav-petit li:hover {
    color: #0065FC;
    border-bottom: 2px solid #0065FC;
}

/* /Navigation */
/* /Haut-de-page */

/* Section-recherche */

h1 {
    font-weight: bold;
    font-size: 1.4em;
    margin-top: 35px;
    margin-bottom: 8px;
}

#section-recherche {
    margin-left: 0;
}

#section-recherche p {
    margin-top: 0;
}

/* Formulaire - Le conteneur flex aligne tous les éléments du formulaire en leur donnant une hauteur */

form {
    display: flex;
    margin-top: 8px;
    height: 51px; 
}

input[type=search] {
    display: block;
    border: 2px solid #F2F2F2;
    border-right: none;
    font-weight: bold;
    font-size: 1.1em;
    padding: 0 15px;
}

#icone-ville {
    width: 52px;
    line-height: 52px;
    background: #F2F2F2;
    text-align: center;
    border-radius: 17px 0 0 17px;
}

#texte-rechercher {
    width: 134px;
    background: #0065FC;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    border: 0;
    border-radius: 0 17px 17px 0;
}

#icone-rechercher {
    position: relative;
    font-size: 1.1em;
    right: 11px;
    width: 52px;
    background: #0065FC;
    color: white;
    border: 0;
    border-radius: 17px;
}

#texte-rechercher a, #icone-rechercher a, #texte-rechercher, #icone-rechercher {
    color: white;
    background: #0065FC;
    text-decoration: none;
}

#texte-rechercher:active, #icone-rechercher:active {
    background: white;
    border: 3px solid #0065FC;
}

#texte-rechercher a:active, #icone-rechercher a:active {
    color:#0065FC;
    background: white;
}

/* /Formulaire */
/* /Section-recherche */

/* Filtres */

#ul-filtre {
    display: flex; /* Pour bénéficier de la valeur "wrap" en responsive */
    flex-wrap: wrap;
    font-weight: bold;
    margin-top: 28px;
    padding-left: 0;
}

.filtres {
    display: flex;
    flex-wrap: wrap;
}

.li-filtre {
    display: flex; /* Pour mettre les deux blocs (icône et texte) à la suite */
    border: 2px solid #F2F2F2;
    border-left: none;
    border-radius: 2em; 
    padding-right: 13px;   
    margin-right: 20px;
}

.li-filtre:hover {
    color: #0065FC;
    border: 4px solid #0065FC;
} 

.li-filtre:active {
    border: 4px solid #0065FC;
    background: #0065FC;
} 

.cercle {
    width: 50px;
    height: 50px;
    line-height: 50px; /* Donner la même valeur à "line-height" qu'à "height" permet de centrer un objet verticalement */
    background: #DEEBFF;
    border-radius: 50%;
    text-align: center;
}

#titre-filtre {
    margin-right: 30px;
    padding-top: 14px;
}

.nom-filtre {
    margin-top: 14px;
    margin-left: 8px;
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog {
    color: #0065FC; /* Définit la taille des icônes à l'intérieur du cercle */
    font-size: 18px; 
}

.li-filtre a:hover {
    color: #0065FC;
}

.li-filtre a:active {
    color: white;
}

/* /Filtres */
  
/* Message d'information */

#information {
    display: flex;
    line-height: 23px;
    margin-top: 35px;
}

.fa-info {
    color: #0065FC;
    font-size: 11px;
}

#cercle-info {
    border: 1px solid #F2F2F2;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    margin-right: 10px;
}

/* /Message d'information */        
 
  


        

                                   
                                   
                    