body, input, #rech-normal { /* Dans <form>, <input> et <button> n'héritent pas de la police du body */
    margin: 0; 
    font-family: 'Raleway', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    font-size: 1.375em;
    font-weight: bold;
    margin: 0;
}

h2 {
    font-size: 1.125em;
    font-weight: bold; 
    margin: 0; 
}

h3 {
    font-size: 1em;
    font-weight: bold; 
    margin: 0; 
}

/* DIV - HEADER-HAUT */

header {
    margin: 0 3%;
}

#header-haut {
    display: flex;
    justify-content: space-between;
}

#logo {
    margin-top: 45px;
}

/* NAVIGATION */

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li a {
    display: block; /* Pour redimensionner <a> */
    width: 155px;
    padding-top: 50px; /* Pour laisser la bordure haute au bord de l'écran */
    text-align: center;
}

nav li a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

#inscrip-normal-li a {
    font-weight: bold;
    width: 115px;
}

#inscrip-mobile-a {
    display: none; /* S'affiche uniquement sur mobile */
}

#inscrip-mobile-a:hover, #inscrip-normal-li a:hover {
    color: #0065FC;
    border-top: none;
}

/* /NAVIGATION */
/* /DIV - HEADER-HAUT */

/* SECTION - RECHERCHE */

#recherche {
    margin-top: 30px;
}

#recherche p {
    margin: 8px 0 0 0;
}

/* Formulaire */

form {
    display: flex; /* Aligne les éléments sans espace en leur donnant une même hauteur */
    margin-top: 20px;
    height: 50px; 
}

#label-ville {
    width: 50px;
    line-height: 50px; /* Pour centrer verticalement l'icône */
    text-align: center;
    background: #F2F2F2;
    font-size: 1.125em; 
    border-radius: 17px 0 0 17px;
    flex-shrink: 0; /* La taille reste inchangée sur les petits écrans */
}

input {
    border: 2px solid #F2F2F2;
    border-right: none;
    font-weight: bold;
    font-size: 1.125em;
    padding-left: 15px;
}

#rech-normal {
    width: 134px;
    background: #0065FC;
    color: white;
    font-weight: bold;
    font-size: 1.125em;
    border: 0;
    border-radius: 0 17px 17px 0;
}

#rech-mobile { /* Ce conteneur prolonge les bordures de <input> sous le bouton d'envoi */
    display: none;
    border: 2px solid #F2F2F2;
    width: 47px;
    border-left: none;
    border-radius: 0 17px 17px 0;
}

#rech-mobile-contenu {  
    position: relative;
    top: -2px;
    font-size: 1.0625em;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #0065FC;
    color: white;
    border: 0;
    border-radius: 17px;
}

/* /Formulaire */

/* Filtres */

#filtre {
   margin-top: 16px;
}

#filtre h2 {
    display: inline-block;
    margin: 14px 28px 0 8px;
}

#filtre-ul {
    display: inline-block;
    font-size: 1.125em;
    font-weight: bold;
    padding-left: 0;
    margin: 0;
}

.filtre-li {
    display: inline-block;
    margin: 14px 22px 0 0;
}

.filtre-li a {
    position: relative;
    display: block; 
    border: 2px solid #D9D9D9;
    border-radius: 26px;
    padding: 0 20px 0 58px; /* Permet de définir la largeur du bloc */
    line-height: 46px; /* La line-box définit la hauteur du bloc tout en centrant le texte */
}

.filtre-cercle {
    position: absolute; /* L'élément se positionne par rapport au bloc ci-dessus */
    left: -4px;
    top: -2px;
    width: 50px;
    line-height: 50px; /* Définit la hauteur du cercle et l'alignement vertical de l'icône */
    text-align: center;
    background: #DEEBFF;
    border-radius: 50%;
}

.filtre-li a:hover {
    background: #DEEBFF;
    border: 2px solid #DEEBFF;
}

.filtre-li a:focus { /* :focus est placé derrière :hover pour lui donner la priorité */
    color: white;
    background: #0065FC;
    border: 2px solid #0065FC;
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog {
    color: #0065FC; 
    font-size: 1.125em; 
}

/* /Filtres */
  
/* Information */

#info {
    display: flex;
    margin-top: 35px;
}

.fa-info {
    color: #0065FC;
}

#info-cercle {
    border: 1px solid #D9D9D9;
    width: 22px;
    height: 22px;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px 0 6px;
    flex-shrink: 0;
}

#info p {
    margin: 0;
    line-height: 24px;
}

/* /Information */ 
/* /SECTION - RECHERCHE */       
 
/* DIV - HÉBERGEMENTS */

#heberg {
    display: flex;
    margin: 35px 3% 0 3%;
}

/* SECTION - HÉBERGEMENTS TOUS */

#heberg-tous {
    flex: 1;
    background: #F2F2F2;
    border-radius: 20px;
    padding: 45px 40px;  
}

#heberg-tous-contenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#heberg-tous-contenu a, #heberg-popu-contenu a {
    margin-top: 30px;
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 0px 1px 10px 0px #bbbbbb87;
    overflow: hidden; /* Permet de cacher le débordement de l'image */
    background: white;
}

#heberg-tous-contenu a:hover, #heberg-popu-contenu a:hover {
    background: #DEEBFF;
    border: 5px solid #DEEBFF;
}

#heberg-tous-contenu a:active, #heberg-popu-contenu a:active {
    color: #0065FC;
}

.heberg-tous-figure {
    margin: 0;
}

#heberg p {
    font-size: 0.875em;
}

.heberg-tous-caption {
    padding: 5px 13px;
}    

.heberg-tous-caption p, .heberg-tous-caption div {
    margin: 5px 0 0 0;
}

.heberg-tous-img {
    width: 235px;
    height: 114px;
    object-fit: cover; /* Préserve les proportions de l'image */
}

#heberg-tous h2 {
    margin-top: 40px;
}

#heberg-tous h2 a:hover {
    color: #0065FC;
}

.fa-star {
    color: #0065FC;  
    margin-right: 1px;
}

.disabled-star {
    color: #F2F2F2 !important; /* Force le changement de couleur */
}

/* /SECTION - HÉBERGEMENTS TOUS */

/* SECTION - HÉBERGEMENTS POPULAIRES */

#heberg-popu {
    flex: 0.43; /* Calculé par rapport à #heberg-tous qui a une valeur de "1" */
    background: #F2F2F2;
    border-radius: 20px;
    padding: 45px 40px;
    margin-left: 40px;
}

#titre-heberg-popu {
    display: flex;
    justify-content: space-between;
}

.fa-chart-line {
    font-size: 1.375em;
    line-height: 27px !important;
}

#heberg-popu-contenu {
    display: flex; /* Ce conteneur doit être en flex sur tablette et peut être en flex sur desktop */
    flex-direction: column;
}

.heberg-popu-figure {
    display: flex;
    margin: 0;
}

.heberg-popu-img {
    width: 128px;
    height: 135px;
    object-fit: cover;
    flex-shrink: 0;
}

.heberg-popu-caption {
    position: relative; 
    padding: 12px 10px 0 20px;
    line-height: 16px; /* Permet d'éviter au texte de passer sous le bloc d'étoiles */
}

.heberg-popu-caption p {
    margin: 5px 0 0 0;
}

.heberg-popu-caption div {
    position: absolute; /* Positionné par rapport à .heberg-popu-caption */
    bottom: 5px;
} 

/* /SECTION - HÉBERGEMENTS POPULAIRES */
/* /DIV - HÉBERGEMENTS */

/* SECTION - ACTIVITÉS */

#activ {
    margin: 60px 3% 0 3%;
}

#activ-contenu {
    display: flex;
    justify-content: space-between; 
}     

.activ-figure {
    margin: 0;
}

.activ-caption {
    padding: 16px 20px;
}

.activ-colonne-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* L'axe principal est vertical */
}

.activ-colonne-1 a, .activ-colonne-2 a {
    display: block; /* Le premier élément n'est pas un objet flex, il doit être transformé pour contenir <figure> */
    border-radius: 20px;
    box-shadow: 0px 1px 10px 0px #bbbbbb87;
    overflow: hidden;
}

.activ-colonne-1 a:hover, .activ-colonne-2 a:hover {
    background: #DEEBFF;
}

.activ-colonne-1 a:active, .activ-colonne-2 a:active {
    color: #0065FC;
}

.activ-colonne-1, .activ-colonne-2 {
    width: 22.5%;
    margin-top: 25px;
}

.activ-img-110 {
    width: 100%; /* La largeur des images est définie par les colonnes */
    height: 110px;
    object-fit: cover;
    object-position: 50% 17%;
}

.activ-img-140 {
    width: 100%;
    height: 140px;
    object-fit: cover;
    object-position: 50% 50%;
}

.activ-img-155 {
    width: 100%;
    height: 155px;
    object-fit: cover;
    object-position: 50% 50%;
}

.activ-img-180 {
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: 50% 40%;
}

.activ-img-390 {
    width: 100%;
    height: 390px;
    object-fit: cover;
    object-position: 50% 50%;
} 

/* /SECTION - ACTIVITÉS */

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    background: #F2F2F2F2;
    margin-top: 60px;
    padding: 45px 3%;
}

.footer-boite {
    width: 31%;    
}

.footer-boite ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}

footer li {
    margin-top: 10px;
}
                
.footer-boite a:hover {
    color: #0065FC;
}

/* /FOOTER */                