@font-face {
    font-family: 'Raleway';
}

* {
    font-family: 'Raleway', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #0065FC;
}

h1 {
    font-size: 23px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    font-weight: bold;  
}

h3 {
    font-size: 18px;
    font-weight: bold;  
}

h4 {
    font-size: 16px;
    font-weight: bold;  
}


body {
    margin: 0; /* Pour toucher tous les bords avec des blocs */
}

/* Haut-de-page */

#haut-de-page {
    display: flex;
    justify-content: space-between;
}

#logo {
    margin-top: 0;
    padding-top: 50px;
}

/* Navigation */

#nav-normal {
    display: flex;
}

#nav-normal ul {
    display: flex;
    list-style-type: none;
    font-size: 16px;
    margin-top: 0;
}

#nav-normal li {
    padding-top: 50px;
    width: 160px;
    text-align: center;
    font-weight: 500;
}

#nav-normal li:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

#nav-normal div {
    font-weight: bold;
    width: 100px;
    padding-top: 50px;
    margin-right: 0;
    text-align: right;
}

#nav-petit ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: 16px;
    padding-left: 0;
    margin-top: 25px;
}

#nav-petit li {
    height: 32px;
    width: 50%;
    text-align: center;
    font-weight: 500;
}

#nav-petit li:hover {
    color: #0065FC;
    border-bottom: 2px solid #0065FC;
}

/* /Navigation */
/* /Haut-de-page */

/* Partie-recherche */

#partie-recherche {
    margin-left: 0;
}

#partie-recherche h1{
    margin-top: 35px;
    margin-bottom: 8px;
}

#partie-recherche p {
    margin-top: 0;
}

/* Formulaire - Le conteneur flex aligne tous les éléments du formulaire en leur donnant une hauteur */

form {
    display: flex;
    margin-top: 8px;
    height: 51px; 
}

input[type=search] {
    display: block;
    border: 2px solid #F2F2F2;
    border-right: none;
    font-weight: bold;
    font-size: 1.1em;
    padding: 0 15px;
}

#icone-ville {
    width: 52px;
    line-height: 52px;
    background: #F2F2F2;
    text-align: center;
    border-radius: 17px 0 0 17px;
}

#texte-rechercher {
    width: 134px;
    background: #0065FC;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    border: 0;
    border-radius: 0 17px 17px 0;
}

#icone-rechercher {
    position: relative;
    font-size: 1.1em;
    right: 11px;
    width: 52px;
    background: #0065FC;
    color: white;
    border: 0;
    border-radius: 17px;
}

#texte-rechercher a, #icone-rechercher a, #texte-rechercher, #icone-rechercher {
    color: white;
    background: #0065FC;
    text-decoration: none;
}

#texte-rechercher:active, #icone-rechercher:active {
    background: white;
    border: 3px solid #0065FC;
}

#texte-rechercher a:active, #icone-rechercher a:active {
    color:#0065FC;
    background: white;
}

/* /Formulaire */
/* /Partie-recherche */

/* Filtres */

#ul-filtre {
    display: flex; /* Pour bénéficier de la valeur "wrap" en responsive */
    flex-wrap: wrap;
    font-weight: bold;
    margin-top: 28px;
    padding-left: 0;
}

.filtres {
    display: flex;
    flex-wrap: wrap;
}

.li-filtre {
    display: flex; /* Pour mettre les deux blocs (icône et texte) à la suite */
    border: 2px solid #F2F2F2;
    border-left: none;
    border-radius: 2em; 
    padding-right: 13px;   
    margin-right: 20px;
}

.li-filtre:hover {
    color: #0065FC;
    border: 4px solid #0065FC;
} 

.li-filtre:active {
    border: 4px solid #0065FC;
    background: #0065FC;
} 

.cercle-filtre {
    width: 50px;
    height: 50px;
    line-height: 50px; /* Donner la même valeur à "line-height" qu'à "height" permet de centrer un objet verticalement */
    background: #DEEBFF;
    border-radius: 50%;
    text-align: center;
}

#titre-filtre {
    margin-right: 30px;
    padding-top: 14px;
}

.nom-filtre {
    margin-top: 14px;
    margin-left: 8px;
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog {
    color: #0065FC; /* Définit la taille des icônes à l'intérieur du cercle */
    font-size: 18px; 
}

.li-filtre a:hover {
    color: #0065FC;
}

.li-filtre a:active {
    color: white;
}

/* /Filtres */
  
/* Message d'information */

#information {
    display: flex;
    line-height: 23px;
    margin-top: 35px;
}

.fa-info {
    color: #0065FC;
    font-size: 11px;
}

#cercle-info {
    border: 1px solid #F2F2F2;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    margin-right: 10px;
}

/* /Message d'information */        
 
/* Section Hébergements */
/* Hébergements Article */

#section-hebergements {
    display: flex;
    margin-top: 40px;
}

#section-hebergements article {
    background: #F2F2F2;
    width: 62%;
    height: 580px;
    border-radius: 20px;
    padding: 45px 40px;
}

#hebergements-norm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 450px;
    padding: 30px 0;
}

#section-hebergements h1, #section-hebergements h4 {
    margin: 0;
}

#section-hebergements h2 {
    margin: 17px 0 0 0;
}

#section-hebergements p {
    font-size: 14px;
}

.heberg-caption-article {
    padding-left: 13px;
    padding-top: 9px;
}    

.heberg-caption-article p {
    margin-top: 5px;
    margin-bottom: 8px;
}

.figure-hebergements-norm {
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 0px 1px 10px 0px #bbbbbb87;
    overflow: hidden;
    background:white;
    height: 200px;
    margin: 0;
}

#img-heberg-large {
    width: 235px;
    height: 114px;
    object-fit: cover;
}

.fa-star {
     color: #0065FC;  
     margin-right: 2px;
}

/* /Hébergements Article */

/* Hébergements Aside */

aside {
    margin-left: 40px;
    width: 26%;
    height: 580px;
    background: #F2F2F2;
    border-radius: 20px;
    padding: 45px 40px;
}
 
#hebergements-popu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0 0 0;
    height: 500px;
}

#titre-aside {
    display: flex;
    justify-content: space-between;
}

.figure-hebergements-popu {
    display: flex;
    background: white;
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 0px 1px 10px 0px #bbbbbb87;
    overflow: hidden;
    margin: 0;
    width: 342px;
}

#img-heberg-petit {
    width: 128px;
    height: 135px;
    object-fit: cover;
}

.heberg-caption-aside {
    width: 212px;
    padding: 12px 25px;
}

.heberg-caption-aside p {
    margin-top: 5px;
    margin-bottom: 8px;
}

.heberg-caption-aside div {
    margin-top: 30px;
} 

/* /Hébergements Aside */
/* /Section Hébergements */

/* Section Activités */

#section-activites {
    margin-top: 65px;
}

#activites-flex {
    display: flex;
    justify-content: space-between
}     

.activ-caption {
    padding: 16px;
    font-weight: bold;
}

#activ-colonne {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.figure-activites {
    border: 0 solid;
    border-radius: 20px;
    box-shadow: 0px 1px 10px 0px #bbbbbb87;
    overflow: hidden;
    margin: 0;
}

.img-activ-petit {
    width: 303px;
    height: 110px;
    object-fit: cover;
    object-position: 58% 20%;
}

.img-activ-moyen {
    width: 303px;
    height: 180px;
    object-fit: cover;
    object-position: 58% 40%;
}

.img-activ-grand {
    width: 303px;
    height: 388px;
  
    object-fit: cover;
    object-position: 58% 0;
} 

/* /Section Activités */

/* Pied-de-page */

footer {
    height: 195px;
    background: #F2F2F2F2;
    margin-top: 60px;
}

#footer-liste {
      display: flex;
    justify-content: space-between;

}

footer ul {
    margin-top: 30px;
    list-style-type: none;
    width: 33%;
    padding: 0;
}

footer strong {
    margin-bottom: 20px;
}

footer li {
    margin-top: 10px;
}
                
/* /Pied-de-page */                